      table {
          background-color: rgb(100, 50, 69);
      }
      
      table,
      th,
      td {
          border: 1px solid blue;
      }
      
      table thead {
          font-weight: bold;
      }
      
      #row1 {
          color: rgb(100, 100, 100)
      }
      
      #row2 {
          font-family: monospace;
      }
      
      #row3 {
          text-align: right;
      }
      
      #row4 {
          text-transform: uppercase;
      }
      
      .box {
          width: 200px;
          border: 10px solid black;
          height: 200px;
      }
      
      #box1 {
          float: left;
          background-color: blue;
      }
      
      #box2 {
          background-color: red;
          float: left;
      }
      
      table tbody {
          background-color: rgb(25, 25, 25)
      }