      table {
          background-color: rgb(100, 50, 69);
      }
      
      table,
      th,
      td {
          border: 1px solid blue;
      }
      
      table tbody {
          background-color: rgb(25, 25, 25)
      }
      
      table thead {
          font-weight: bold;
      }
      
      .box {
          width: 200px;
          border: 10px solid black;
          height: 200px;
          float: left;
      }
      
      #box1 {
          background-color: blue;
      }
      
      .div-red {
          background-color: red;
      }
      
      .box #box3 {
          clear: left;
          position: absolute;
      }
      
      .box #box1 #box2 {
          position: relative;
      }